body {
  margin: 0;

}

a{
  text-decoration: none;
  color: white;
}

.navbar, .footer, .login, .register, .home-page, .error-page, .editor-page, .signup, .user-repositories{
  width: 100%;
  min-height: 200px;
}

.navbar{
  background-color:blue;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.navbar-logout{
  cursor: pointer;
}

.footer{
  background-color:forestgreen;
}

.login{
  background-color:crimson
}

.register{
  background-color:darkorange
}

.home-page{
  background-color:indigo;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 21px;
  color: white;
}

.home-page .limit{
  margin-top: 20px;
}

.error-page{
  background-color: deeppink;
}

.editor-page{
  background-color:darkturquoise;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.editor-form{
  margin: 20px 40px;
  width: 100%;
}

.editor-input{
  width: 100%;
  min-width: 450px;
  min-height: 400px;
  background-color: beige;
  resize: horizontal;
}

.note-menu-elem{
  cursor: pointer;
  margin: 4px 0;
  background-color: brown;
  user-select: none;
}

a.active{
  color:black;
}

h1{
  margin: 0;
  padding: 10px 0;
}

.signup{
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-github-button{
  padding: 8px 12px;
  background-color: rgb(0, 236, 153);
  font-size: 21px;
  letter-spacing: 0.7px;
  border-radius: 8px;
  color: black;
  font-weight: 700;
}

.user-repositories{
  min-height: 300px;
  background-color: rgb(155, 192, 216);

}

.private-repo{
  color: red;
  cursor: pointer;
}

.public-repo{
  color: chartreuse;
  cursor: pointer;
}

.permission-prompt{
  background-color: rgb(155, 192, 216);
  margin: 0;
}

.markdown-body {
  box-sizing: border-box;
  min-width: 400px;
  max-width: 894px;
  width: 100%;
  margin: 0 auto;
  padding: 32px;
  background-color: white;
}

@media (max-width: 767px) {
  .markdown-body {
    padding: 15px;
  }
}