body {
  margin: 0;
}

a{
  text-decoration: none;
  color: white;
}

.navbar, .footer, .login, .register, .home-page, .error-page, .editor-page{
  width: 100%;
  min-height: 200px;
}

.navbar{
  background-color:blue;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.navbar-logout{
  cursor: pointer;
}

.footer{
  background-color:forestgreen;
}

.login{
  background-color:crimson
}

.register{
  background-color:darkorange
}

.home-page{
  background-color:indigo
}

.error-page{
  background-color: deeppink;
}

.editor-page{
  background-color:darkturquoise;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.editor-input, .editor-preview{
  width: 650px;
  min-height: 200px;
  background-color: beige;
  margin: 30px
}

.editor-input{
  resize: horizontal;
  max-width: 900px;
  min-width: 200px
}

.note-menu-elem{
  cursor: pointer;
  margin: 4px 0;
  background-color: brown;
  user-select: none;
}

a.active{
  color:black;
}

h1{
  margin: 0;
  padding: 10px 0;
}