body {
  margin: 0;
}

a{
  text-decoration: none;
  color: white;
}

.navbar, .footer, .login, .register, .home-page, .error-page, .editor-page{
  width: 100%;
  min-height: 200px;
}

.navbar{
  background-color:blue;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.navbar-logout{
  cursor: pointer;
}

.footer{
  background-color:forestgreen;
}

.login{
  background-color:crimson
}

.register{
  background-color:darkorange
}

.home-page{
  background-color:indigo
}

.error-page{
  background-color: deeppink;
}

.editor-page{
  background-color:darkturquoise;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.editor-input{
  min-width: 450px;
  min-height: 400px;
  background-color: beige;
}

.editor-input{
  resize: horizontal;
  max-width: 900px;
  min-width: 200px
}

.note-menu-elem{
  cursor: pointer;
  margin: 4px 0;
  background-color: brown;
  user-select: none;
}

a.active{
  color:black;
}

h1{
  margin: 0;
  padding: 10px 0;
}

.markdown-body {
  box-sizing: border-box;
  min-width: 200px;
  max-width: 832px;
  margin: 0 auto;
  padding: 32px;
  background-color: white;
}

@media (max-width: 767px) {
  .markdown-body {
    padding: 15px;
  }
}